backwaredeliminationalgorithm.py
correlation_matrix_titanic.png
"Exploring Machine Learning with Scikit.docx"
pca.py
pipelineexample.py
pipelineexample.pyc
submission.csv
titanic1.pyc
titanicLatest.py
titanicpy2.py
titanicUpdated.py
train_dataexplore.xlsx